
body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #ced4d9;
}

#chat-container {
   width: 1000px;
   margin: 50px auto 50px 400px; /* Adjust the right margin as needed */
   background-color: #fff;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
}

#messages {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

#messageInput {
   width: 80%;
   padding: 10px;
   margin-right: 10px;
}

#send-button {
   padding: 10px;
   cursor: pointer;
}

/* Directly target the left and right classes */
#messages li.left {
   text-align: left;
   background-color: #e0e0e0;
   padding: 5px;
   margin-bottom: 5px;
   color: blue; /* Set text color to blue */
}

#messages li.right {
   text-align: right;
   background-color: #c0e0c0;
   padding: 5px;
   margin-bottom: 5px;
   color: black; /* Set text color to black */
}
